*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    display: flex;
    background-color: rgb(87, 80, 70);
    justify-content: space-around;
    color: white;
    padding: 12px;
}

.menus{
    display: flex;
    list-style: none;
}

.item{
    margin-right: 17px;
    padding: 5px;
    font-size: 18px;
}
.logo{
    width: 100px;
    padding: 5px;
}


.banner-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    height: 100vh;
    background-image: url(./images/background.png),linear-gradient(45deg,rgb(153, 28, 28),#0bd336);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.photo{
    width: 300px;
}

.title{
    font-size: 54px;
    font-weight: bold;
}
.descriptions{
    font-size: 18px;
    margin-top: 15px;
}

.btn{
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
}

.about-us-container{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.about-us{
    text-align: center;
    padding-top: 20px;
}

.service-container{
    background-image: url(./images/background.png),linear-gradient(45deg,rgb(153, 28, 28),#0bd336);
    color: white;
    padding: 50px;
    flex-wrap: wrap;
}

.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box{
    width: 200px;
    height: 280px;
    padding: 15px;
    text-align: center;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
}

.box-title{
    padding: 10px;
}

.box-btn{
    background-color:#1c1b1b ;
}
.icon{
    width: 70px;
    color: #2e2e2e;
}